
.footer{
    padding-bottom: 120px;
    @media only screen and (max-width: 768px) {
        margin-top: 50px;
        padding-bottom: 50px;
    }
    h2 {
        margin-bottom: 35px;
        @media only screen and (max-width: 768px) {
            margin-bottom: 50px;
        }
    }
    .footer__info {
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }
        .item {
            display: flex;
            @media only screen and (max-width: 768px) {
                margin-bottom: 45px;
            }
            img {
                width: 37px;
                align-self: center;
                margin: 15px;
                @media only screen and (max-width: 768px) {
                    margin: 0 75px;
                }
                @media only screen and (max-width: 425px) {
                    margin: 0 25px;
                }
            }
            div {
                margin-left: 30px;
                @media only screen and (max-width: 768px) {
                    margin-left: 0;
                }
                h5 {
                    margin-bottom: 25px;
                }
            }
        }
    }
}
